/* @import "tailwindcss";
@import "tw-animate-css"; */

/* @custom-variant dark (&:is(.dark *));

@theme inline {
  --color-background: var(--background);
  --color-foreground: var(--foreground);
  --font-sans: var(--font-geist-sans);
  --font-mono: var(--font-azeret-mono);
  --color-sidebar-ring: var(--sidebar-ring);
  --color-sidebar-border: var(--sidebar-border);
  --color-sidebar-accent-foreground: var(--sidebar-accent-foreground);
  --color-sidebar-accent: var(--sidebar-accent);
  --color-sidebar-primary-foreground: var(--sidebar-primary-foreground);
  --color-sidebar-primary: var(--sidebar-primary);
  --color-sidebar-foreground: var(--sidebar-foreground);
  --color-sidebar: var(--sidebar);
  --color-chart-5: var(--chart-5);
  --color-chart-4: var(--chart-4);
  --color-chart-3: var(--chart-3);
  --color-chart-2: var(--chart-2);
  --color-chart-1: var(--chart-1);
  --color-ring: var(--ring);
  --color-input: var(--input);
  --color-border: var(--border);
  --color-destructive: var(--destructive);
  --color-accent-foreground: var(--accent-foreground);
  --color-accent: var(--accent);
  --color-muted-foreground: var(--muted-foreground);
  --color-muted: var(--muted);
  --color-secondary-foreground: var(--secondary-foreground);
  --color-secondary: var(--secondary);
  --color-primary-foreground: var(--primary-foreground);
  --color-primary: var(--primary);
  --color-popover-foreground: var(--popover-foreground);
  --color-popover: var(--popover);
  --color-card-foreground: var(--card-foreground);
  --color-card: var(--card);
  --radius-sm: calc(var(--radius) - 4px);
  --radius-md: calc(var(--radius) - 2px);
  --radius-lg: var(--radius);
  --radius-xl: calc(var(--radius) + 4px);

  /* fluid font size 1.2 min scale and 1.33 max scale base 16px min and 18px max */
  /* --text-step--2: var(--step--2);
  --text-step--1: var(--step--1);
  --text-step-0: var(--step-0);
  --text-step-1: var(--step-1);
  --text-step-space-2xs-xs: var(--step-space-2xs-xs);
  --text-step-3: var(--step-3);
  --text-step-space-s-m: var(--step-space-s-m);
  --text-step-5: var(--step-5);
  --text-step-6: var(--step-6); */

  /* fuild margin spacing times */
  /* --margin-space-3xs: var(--space-3xs);
  --margin-space-2xs: var(--space-2xs);
  --margin-space-xs: var(--space-xs);
  --margin-space-s: var(--space-s);
  --margin-space-m: var(--space-m);
  --margin-space-l: var(--space-l);
  --margin-space-xl: var(--space-xl);
  --margin-space-2xl: var(--space-2xl);
  --margin-space-3xl: var(--space-3xl); */

  /* fuild margin spacing one pair */
  /* --margin-space-3xs-2xs: var(--space-3xs-2xs);
  --margin-space-2xs-xs: var(--space-2xs-xs);
  --margin-space-xs-s: var(--space-xs-s);
  --margin-space-s-m: var(--space-s-m);
  --margin-space-m-l: var(--space-m-l);
  --margin-space-l-xl: var(--space-l-xl);
  --margin-space-xl-2xl: var(--space-xl-2xl);
  --margin-space-2xl-3xl: var(--space-2xl-3xl); */

  /* fuild padding spacing times */
  /* --padding-space-3xs: var(--space-3xs);
  --padding-space-2xs: var(--space-2xs);
  --padding-space-xs: var(--space-xs);
  --padding-space-s: var(--space-s);
  --padding-space-m: var(--space-m);
  --padding-space-l: var(--space-l);
  --padding-space-xl: var(--space-xl);
  --padding-space-2xl: var(--space-2xl);
  --padding-space-3xl: var(--space-3xl); */

  /* fuild padding spacing one pair */
  /* --padding-space-3xs-2xs: var(--space-3xs-2xs);
  --padding-space-2xs-xs: var(--space-2xs-xs);
  --padding-space-xs-s: var(--space-xs-s);
  --padding-space-s-m: var(--space-s-m);
  --padding-space-m-l: var(--space-m-l);
  --padding-space-l-xl: var(--space-l-xl);
  --padding-space-xl-2xl: var(--space-xl-2xl);
  --padding-space-2xl-3xl: var(--space-2xl-3xl); */

  /* fluid border-width spacing times */
  /* --border-width-space-3xs: var(--space-3xs);
  --border-width-space-2xs: var(--space-2xs);
  --border-width-space-xs: var(--space-xs);
  --border-width-space-s: var(--space-s);
  --border-width-space-m: var(--space-m);
  --border-width-space-l: var(--space-l);
  --border-width-space-xl: var(--space-xl);
  --border-width-space-2xl: var(--space-2xl);
  --border-width-space-3xl: var(--space-3xl); */

  /* fluid border-width spacing one pair */
  /* --border-width-space-3xs-2xs: var(--space-3xs-2xs);
  --border-width-space-2xs-xs: var(--space-2xs-xs);
  --border-width-space-xs-s: var(--space-xs-s);
  --border-width-space-s-m: var(--space-s-m);
  --border-width-space-m-l: var(--space-m-l);
  --border-width-space-l-xl: var(--space-l-xl);
  --border-width-space-xl-2xl: var(--space-xl-2xl);
  --border-width-space-2xl-3xl: var(--space-2xl-3xl); */

  /* fluid gap spacing times */
  /* --gap-space-3xs: var(--space-3xs);
  --gap-space-2xs: var(--space-2xs);
  --gap-space-xs: var(--space-xs);
  --gap-space-s: var(--space-s);
  --gap-space-m: var(--space-m);
  --gap-space-l: var(--space-l);
  --gap-space-xl: var(--space-xl);
  --gap-space-2xl: var(--space-2xl);
  --gap-space-3xl: var(--space-3xl); */

  /* fluid gap spacing one pair */
  /* --gap-space-3xs-2xs: var(--space-3xs-2xs);
  --gap-space-2xs-xs: var(--space-2xs-xs);
  --gap-space-xs-s: var(--space-xs-s);
  --gap-space-s-m: var(--space-s-m);
  --gap-space-s-m: var(--space-m-l);
  --gap-space-l-xl: var(--space-l-xl);
  --gap-space-xl-2xl: var(--space-xl-2xl);
  --gap-space-2xl-3xl: var(--space-2xl-3xl);
} */

/* @theme {
  --color-pastel-white: #fbf5e7;
  --color-pastel-black: #332f2e;
  --color-pastel-cream: #f6ebd5;
  --color-pastel-red: #f6a99e;
  --color-pastel-orange: #f8bd9f;
  --color-pastel-yellow: #f6d69b;
  --color-pastel-green: #c5f2d9;
  --color-pastel-blue: #c4e7e3;
  --color-pastel-pink: #f6d7d4;
  --breakpoint-xs: 30rem;
} */

/* 
body {
  font-family: "Azeret Mono", monospace;
  cursor:
    url("/cursors/cursor.png") 0 0,
    auto;
}

div {
  cursor:
    url("/cursors/cursor.png") 0 0,
    auto;
}

a,
button {
  cursor:
    url("/cursors/pointer.png") 0 0,
    pointer;
} */
/* 
:root {
  --radius: 0.625rem;
  --background: var(--color-pastel-cream);
  --foreground: var(--color-pastel-black);
  --card: oklch(1 0 0);
  --card-foreground: oklch(0.145 0 0);
  --popover: oklch(1 0 0);
  --popover-foreground: oklch(0.145 0 0);
  --primary: oklch(0.205 0 0);
  --primary-foreground: oklch(0.985 0 0);
  --secondary: oklch(0.97 0 0);
  --secondary-foreground: oklch(0.205 0 0);
  --muted: oklch(0.97 0 0);
  --muted-foreground: var(--color-pastel-black);
  --accent: oklch(0.97 0 0);
  --accent-foreground: oklch(0.205 0 0);
  --destructive: oklch(0.577 0.245 27.325);
  --border: var(--color-pastel-black);
  --input: oklch(0.922 0 0);
  --ring: var(--color-pastel-black);
  --chart-1: oklch(0.646 0.222 41.116);
  --chart-2: oklch(0.6 0.118 184.704);
  --chart-3: oklch(0.398 0.07 227.392);
  --chart-4: oklch(0.828 0.189 84.429);
  --chart-5: oklch(0.769 0.188 70.08);
  --sidebar: oklch(0.985 0 0);
  --sidebar-foreground: oklch(0.145 0 0);
  --sidebar-primary: oklch(0.205 0 0);
  --sidebar-primary-foreground: oklch(0.985 0 0);
  --sidebar-accent: oklch(0.97 0 0);
  --sidebar-accent-foreground: oklch(0.205 0 0);
  --sidebar-border: oklch(0.922 0 0);
  --sidebar-ring: var(--color-pastel-black);

  --color-pastel-white: #fbf5e7;
  --color-pastel-black: #332f2e;
  --color-pastel-cream: #f6ebd5;
  --color-pastel-red: #f6a99e;
  --color-pastel-orange: #f8bd9f;
  --color-pastel-yellow: #f6d69b;
  --color-pastel-green: #c5f2d9;
  --color-pastel-blue: #c4e7e3;
  --color-pastel-pink: #f6d7d4;
  --breakpoint-xs: 30rem;

  /* Step -2: 11.1111px → 10.1301px */
  /* --step--2: clamp(0.6331rem, 0.7195rem + -0.1115vw, 0.6944rem); */
  /* Step -1: 13.3333px → 13.5034px */
  /* --step--1: clamp(0.8333rem, 0.829rem + 0.0193vw, 0.844rem); */
  /* Step 0: 16px → 18px */
  /* --step-0: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem); */
  /* Step 1: 19.2px → 23.994px */
  /* --step-1: clamp(1.2rem, 1.0774rem + 0.5448vw, 1.4996rem); */
  /* Step 2: 23.04px → 31.984px */
  /* --step-space-2xs-xs: clamp(1.44rem, 1.2113rem + 1.0164vw, 1.999rem); */
  /* Step 3: 27.648px → 42.6347px */
  /* --step-3: clamp(1.728rem, 1.3448rem + 1.703vw, 2.6647rem); */
  /* Step 4: 33.1776px → 56.832px */
  /* --step-space-s-m: clamp(2.0736rem, 1.4688rem + 2.688vw, 3.552rem); */
  /* Step 5: 39.8131px → 75.7571px */
  /* --step-5: clamp(2.4883rem, 1.5693rem + 4.0845vw, 4.7348rem); */
  /* Step 6: 47.7757px → 100.9842px */
  /* --step-6: clamp(2.986rem, 1.6255rem + 6.0464vw, 6.3115rem); */

  /* Space 4xs: 2px → 2px */
  /* --space-4xs: clamp(0.125rem, 0.125rem + 0vw, 0.125rem); */
  /* Space 3xs: 4px → 5px */
  /* --space-3xs: clamp(0.25rem, 0.2244rem + 0.1136vw, 0.3125rem); */
  /* Space 2xs: 8px → 9px */
  /* --space-2xs: clamp(0.5rem, 0.4744rem + 0.1136vw, 0.5625rem); */
  /* Space xs: 12px → 14px */
  /* --space-xs: clamp(0.75rem, 0.6989rem + 0.2273vw, 0.875rem); */
  /* Space s: 16px → 18px */
  /* --space-s: clamp(1rem, 0.9489rem + 0.2273vw, 1.125rem); */
  /* Space m: 24px → 27px */
  /* --space-m: clamp(1.5rem, 1.4233rem + 0.3409vw, 1.6875rem); */
  /* Space l: 32px → 36px */
  /* --space-l: clamp(2rem, 1.8977rem + 0.4545vw, 2.25rem); */
  /* Space xl: 48px → 54px */
  /* --space-xl: clamp(3rem, 2.8466rem + 0.6818vw, 3.375rem); */
  /* Space 2xl: 64px → 72px */
  /* --space-2xl: clamp(4rem, 3.7955rem + 0.9091vw, 4.5rem); */
  /* Space 3xl: 96px → 108px */
  /* --space-3xl: clamp(6rem, 5.6932rem + 1.3636vw, 6.75rem); */

  /* One-up pairs */
  /* Space 4xs-3xs: 2px → 5px */
  /* --space-4xs-3xs: clamp(0.125rem, 0.0483rem + 0.3409vw, 0.3125rem); */
  /* Space 3xs-2xs: 4px → 9px */
  /* --space-3xs-2xs: clamp(0.25rem, 0.1222rem + 0.5682vw, 0.5625rem); */
  /* Space 2xs-xs: 8px → 14px */
  /* --space-2xs-xs: clamp(0.5rem, 0.3466rem + 0.6818vw, 0.875rem); */
  /* Space xs-s: 12px → 18px */
  /* --space-xs-s: clamp(0.75rem, 0.5966rem + 0.6818vw, 1.125rem); */
  /* Space s-m: 16px → 27px */
  /* --space-s-m: clamp(1rem, 0.7188rem + 1.25vw, 1.6875rem); */
  /* Space m-l: 24px → 36px */
  /* --space-m-l: clamp(1.5rem, 1.1932rem + 1.3636vw, 2.25rem); */
  /* Space l-xl: 32px → 54px */
  /* --space-l-xl: clamp(2rem, 1.4375rem + 2.5vw, 3.375rem); */
  /* Space xl-2xl: 48px → 72px */
  /* --space-xl-2xl: clamp(3rem, 2.3864rem + 2.7273vw, 4.5rem); */
  /* Space 2xl-3xl: 64px → 108px */
  /* --space-2xl-3xl: clamp(4rem, 2.875rem + 5vw, 6.75rem); */
/* } */

/* @layer base {
  * {
    @apply border-border outline-ring/50;
  }
  body {
    @apply bg-background text-foreground;
  }
} */
